{% extends 'find/base.html' %}
{% load staticfiles %}
{% block titleblock %}Contact{% endblock %}
{% block title %}
  <h1>Contact</h1><br />
  <b><p>Unsatisfied with the Discount? Can't Write a Review?</p>
  <p> Want to Tell Us How Great We Are?</p>
  <p>Get in contact with the Email as following</p></b>
{% endblock %}

{% block content %}
	<img src= "{% static 'img/game.jpg' %}"  height="350" width="350"/>

	<div class="contact">
		<p><h4><b>Email:553538529@qq.com</b></h4></p>
	</div>

{% endblock %}